<!--
 GNU GENERAL PUBLIC LICENSE V3.0
 Copyright (C) 2018 imbVeles - http://blog.veles.rs/
 Goran Grubic - Email: hardy@veles.rs - http://orcid.org/0000-0003-2673-9471
 http://github.com/gorangrubic - http://www.mendeley.com/profiles/goran-grubi2/
 Everyone is permitted to copy and distribute verbatim copies
 of this license document, but changing it is not allowed.
-->
<ProjectNuPackConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PackageOutputDirectory>G:\imbVelesOpenSource\LocalNuGet\imbVelesStandard</PackageOutputDirectory>
</ProjectNuPackConfig>